
@font-face {
  font-family: "FT88";
  src: url("/assets/fonts/FT88-Regular.woff") format("woff"),
	url("/assets/fonts/FT88-Regular.woff2") format("woff2"),

	url("/assets/fonts/FT88-Italic.woff") format("woff"),
	url("/assets/fonts/FT88-Italic.woff2") format("woff2"),

	url("/assets/fonts/FT88-Bold.woff") format("woff"),
	url("/assets/fonts/FT88-Bold.woff2") format("woff2"),
	
	url("/assets/fonts/FT88-School.woff") format("woff"),
	url("/assets/fonts/FT88-School.woff2") format("woff2"),
	  
	url("/assets/fonts/FT88-Expanded.woff") format("woff"),
	url("/assets/fonts/FT88-Expanded.woff2") format("woff2"),
	  
	url("/assets/fonts/FT88-Gothique.woff") format("woff"),
	url("/assets/fonts/FT88-Gothique.woff2") format("woff2");
}


/* Les variables */
:root{
--font-size:1em;
--line-height:1.3em;
--background-color:#fff6ee;
--couleur1: #ffc1e1; //rose
--couleur2:#86dfda; //vert clair
--couleur3:#006967; //vert foncé
--couleur4:#fff6ee; //rose très clair
--couleur5:#9ecfed; //bleu
--couleur6:#fff5a6; //jaune
--font-family: 'FT88', sans-serif;
}

/* Général */

body{
	overflow-x: hidden;
}

a{
	text-decoration: underline;
	text-decoration-color: var(--couleur1);
	color:var(--couleur2);
	font-family: 'FT88', sans-serif;
	font-style: 'Gothique';
}

p{
	font-size:var(--font-size);
	margin-bottom:var(--line-height);
}

p:last-child{
  	margin-bottom:0px; /* Pour que le dernier paragraphe de chaque article n'ait pas de marge en-dessous */
}


ol, ul, li{
	list-style:none;
}

fieldset{
	border:none;
	text-align:center;
	padding:20px;
}

label{
	font-size:var(--font-size);
	width:100%;
}

input{
	color:var(--couleur2);
	background: none;
	border:none;
	border-bottom: 2px solid var(--couleur2);
	margin-bottom: var(--line-height);
	font-size: var(--font-size);
}

textarea{
	color:var(--couleur2);
	background:none;
	border: 2px solid var(--couleur2);
	width:80%;
	text-align:left;
	font-size: var(--font-size);
}

input[type=submit], button{
	color:var(--couleur2);
	background: none;
	border: 2px solid var(--couleur2);
	padding:5px;
	font-size: var(--font-size);
}

img{
  width:100%;
}

body{

background-color:var(--couleur1);
line-height:var(--line-height);
font-family:var(--font-family);
font-family: 'FT88', sans-serif;
}

/* Header */

header{
	width:100%;
	background-color:var(--couleur1);
	text-align:center;
	padding-top: var(--line-height);
	padding-bottom: var(--line-height);
	border-bottom: solid 2px var(--couleur3);
}

.guerriere{
	font-size:calc(var(--font-size)*3);	
	font-family: 'FT88Goth', sans-serif;
	font-weight: bold;
	color:var(--couleur3);
	text-shadow: 0 0px 20px var(--couleur2), 0 0px 12px var(--couleur2), 0 0px 12px var(--couleur2);
	margin-top: calc(var(--line-height)/2);
	margin-bottom: calc(var(--line-height)/2);
}

.guerriere a{
	color:var(--couleur3);
	text-decoration:none;
	margin-bottom:var(--line-height);
}

/* Le contenu */

.home{
	color: var(--couleur2);
	margin:0;
	width:100%;
	min-height:100vh;
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-template-rows: 1fr;
	bottom: 0;
	//grid-gap:30px;
	border: solid var(--couleur3);
}

/* Colonne gauche (logo) */

.logo{
	
	height: 100%;
	background-color: var(--couleur6);
	margin-left: auto;
	padding-left:auto;
	border-right: solid 2px var(--couleur2);
}

.logo img{
	display:block;
	margin: auto;
	width:80%;
	transition: transform .7s ease-in-out;
}

.logo img:hover{
	transform: rotate(360deg);
}

/* Colonne milieu (posts) */

.home-contenu{
	padding: 5%;
	border-right: solid 2px var(--couleur2);
	background-color: var(--couleur3);
	margin-bottom:var(--line-height);
	height:100%;
}

.grid-carreaux{
	border:none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-carreaux article{
	margin-bottom:0;
}
	
.grid-carreaux img{
height:100%;
width:100%;	
}


article{
	//border-left: solid 2px var(--couleur2);
	border-bottom: solid 2px var(--couleur2);
	padding:20px;
	margin:0px;
	margin-bottom:var(--line-height);
	color: var(--couleur2);
}

article h2{
	margin-bottom:var(--line-height);
}


.article-grille{
  padding:0;
  border:none;
//border: solid 2px var(--couleur2);
}

/* Colonne droite (menu) */
    /*Le menu */
nav {
	background-color: var(--couleur5);
	display:block;
	width: 100%;
}

.anav{
	color:var(--couleur3);
}

nav{
	font-style: italic;
	color: var(--couleur3);
}
nav ul{
    font-size: 1.5em;   
	line-height: 1.8em;
    padding:20px;
    margin:10px;
}

nav li{
	margin-bottom:calc(var(--line-height)/2);
}

.active{
	color:var(--couleur1);
	text-decoration:none;
}

/* Les infos pratiques */
nav p{
	margin-top:50%;
	padding-left:30px;
	font-weight: 700;
	text-shadow: 0 0px 12px var(--couleur3);
	rotate: 16deg;
}


/* Le footer */

footer{
	border-top: solid var(--couleur3);
	padding-top: var(--line-height);
	padding-bottom: var(--line-height);
	position:fixed;
	width:100%;
	height:5%;
	bottom:0;
	background-color:var(--background-color);
}

.typoinfo {
	padding-left:20px;
	background-color:var(--background-color);
}

.rtl{
	overflow:hidden;
}

.actu{
	display:inline-block;
	white-space: nowrap;
	animation: defilement-rtl 30s infinite linear;
	color: var(--couleur3);
	text-shadow: 0 0px 12px var(--couleur3);
	padding-right: 2em;
	padding-left: 100%;
	margin-top:0.5em;
	font-weight:700;
	font-size: var(--font-size);
}

@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}

@media screen and (max-width: 900px)
{
    .home{
	    display:inline-block;
	}
	.logo{
	width: 25%;
    margin: auto;
	}
	nav{
		text-align:center;
	}
	nav p{
		display:none;
	}
}
