---
layout: home
---

<!-- L'affichage des différents posts dans la colonne du milieu. La page appelle les posts qui appartiennent à la catégorie sur laquelle on a cliqué dans le menu -->

<div class="grid-carreaux">
  <!-- La boucle pour que chaque post de la catégorie recherchée apparaisse -->
    {% for post in site.categories[page.category] %}
      <article>
        <!-- Le lien vers la page du post -->
        <a href="{{ post.url }}">
          <!-- L'image du post -->
          <img src="{{ post.img }}" alt="{{ post.img_alt }}" />
        </a>
      </article>
    {% endfor %}
  </div>

<!-- En gros, la structure du site c'est default.html > home.html (pour modifier les structures des différentes colonnes) > category.html (pour modifier ce qui s'affiche au milieu en suivant les différents liens du menu) OU post.html (pour modifier les pages qui affichent les post individuellement) -->
