---
layout: home
---

<!-- L'affichage des différents posts dans la colonne du milieu. La page appelle les posts qui appartiennent à la catégorie sur laquelle on a cliqué dans le menu
Calcul du nombre de post sur la page pour afficher en grille ou pas -->
  {% assign total = 0 %}
  {% for post in site.categories[page.category] %}
  {% assign total = total | plus: 1 %}
  {% endfor %}

<!-- S'il y a plus d'un post, affichage en grille -->
{% if total > 1 %}
<div class="grid-carreaux">
  <!-- La boucle pour que chaque post de la catégorie recherchée apparaisse -->
    {% for post in site.categories[page.category] %}
      <article class="article-grille">
        <!-- Le lien vers la page du post -->
        <a class="lien-grille" href="{{ post.url }}">
          <!-- L'image du post -->
          <img class="miniature" src="{{ post.img }}" alt="{{ post.img_alt }}" />
          <img class="miniature_hover" src="{{ post.img_hover }}" alt="{{ post.img_alt }}" />
        </a>
      </article>
    {% endfor %}
  </div>
<!-- Si un seul post, affichage en colonne -->
  {% else %}
  <div>
    <!-- La boucle pour que chaque post de la catégorie recherchée apparaisse -->
      {% for post in site.categories[page.category] %}
        <article>
          <!--Le titre du post -->
          <h2>{{ post.title }}</h2>
          <!-- Le contenu du post -->
          <div class="post-content">
            {{ post.content }}
          </div>
        </article>
      {% endfor %}
    </div>
    {% endif %}
<!-- En gros, la structure du site c'est default.html > home.html (pour modifier les structures des différentes colonnes) > category.html (pour modifier ce qui s'affiche au milieu en suivant les différents liens du menu) OU post.html (pour modifier les pages qui affichent les post individuellement) -->
